<div class="pr-20">
  <section class="statistic mt-5">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-4 custom">
            <div class="statistic__item custom-statistic__item shadow_border">
              <div class="col-md-12 d-flex pr-0 justify-center align-center">
                <img src="assets/images/icon/icons8-pump-100 5.png" alt="" class="img-responsive pr-1" />
                <h4 class="blue-clr">Pump 1: ACID</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 custom">
            <div class="statistic__item custom-statistic__item shadow_border">
              <div class="col-md-12 d-flex pr-0 justify-center align-center">
                <img src="assets/images/icon/icons8-pump-100 5.png" alt="" class="img-responsive pr-1" />
                <h4 class="blue-clr">Pump 2: Grow A</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 custom">
            <div class="statistic__item custom-statistic__item shadow_border">
              <div class="col-md-12 d-flex pr-0 justify-center align-center">
                <img src="assets/images/icon/icons8-pump-100 5.png" alt="" class="img-responsive pr-1" />
                <h4 class="blue-clr">Pump 3: Grow B</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 custom">
            <div class="statistic__item custom-statistic__item shadow_border">
              <div class="col-md-12 d-flex pr-0 justify-center align-center">
                <img src="assets/images/icon/icons8-pump-100 5.png" alt="" class="img-responsive pr-1" />
                <h4 class="blue-clr">Pump 4: Bloom A</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 custom">
            <div class="statistic__item custom-statistic__item shadow_border">
              <div class="col-md-12 d-flex pr-0 justify-center align-center">
                <img src="assets/images/icon/icons8-pump-100 5.png" alt="" class="img-responsive pr-1" />
                <h4 class="blue-clr">Pump 5: Bloom b</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 custom">
            <div class="statistic__item custom-statistic__item shadow_border">
              <div class="col-md-12 d-flex pr-0 justify-center align-center">
                <img src="assets/images/icon/icons8-pump-100 5.png" alt="" class="img-responsive pr-1" />
                <h4 class="blue-clr">Pump 6: E-Plus</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-green-crack></app-green-crack>
</div>
