<section class="statistic">
  <div class="section__content section__content--p30 mb-3">
    <div class="container-fluid">
      <div class="row shadow_border">
        <div class="col-md-6 pb-3 pt-3">
          <p class="font_30 pl-2">Recipe name: Green Crack</p>
        </div>
        <div class="col-md-6 d-flex justify_btw pb-3 pt-3 align-center"></div>
        <div class="col-md-12">
          <!-- DATA TABLE-->
          <div class="col-md-12 d-md-flex pt-2 pb-2 header_bg">
            <p class="pr-3 pl-3">Cycle: (# of Days)</p>
            <p class="pr-5 pl-3">Stage</p>
            <p class="pr-3 pl-3">Sunrise (min)</p>
            <p class="pr-3 pl-3">Sunset (min)</p>
            <p class="pr-3 pl-80">Auto Dim Temp</p>
            <p class="pr-3 pl-5">Auto Shutoff Temp</p>
            <p class="pr-3 pl-5">Targets</p>
          </div>
        </div>

        <div class="col-md-12 d-md-flex pt-3">
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12 align-center">
            <p class="pr-3 pl-4">1: 5 Days</p>
            <p class="pl-100 pr-3">Veg</p>
            <p class="pl-80 pr-3">4</p>
            <p class="pl-100 pr-3">2</p>
            <p class="pl-80 pr-5">-</p>
            <p class="pl-50 pr-3">2</p>
          </div>
          <div class="col-md-4 d-flex custom-border col-sm-12">
            <div class="col-md-12 d-flex justify_btw align-center pl-0 pr-0 pt-2 pb-2">
              <div class="d-flex tabs_border">
                <p class="tabs__border pl-2 pr-2 text-white maroon_bg font-weight-bold">P <sup>H</sup></p>
                <p class="pl-4 pr-2">5</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">EC</p>
                <p class="pl-2 pr-2">.05 uS/cm</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">TDS</p>
                <p class="pl-2 pr-2">10 PPM</p>
              </div>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>
        <div class="col-md-12 d-md-flex pt-3">
          <!-- DATA TABLE-->
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12 align-center">
            <p class="pr-3 pl-4">1: 5 Days</p>
            <p class="pl-100 pr-3">Veg</p>
            <p class="pl-80 pr-3">4</p>
            <p class="pl-100 pr-3">2</p>
            <p class="pl-80 pr-5">-</p>
            <p class="pl-50 pr-3">2</p>
          </div>
          <div class="col-md-4 d-flex custom-border col-sm-12">
            <div class="col-md-12 d-flex justify_btw align-center pl-0 pr-0 pt-2 pb-2">
              <div class="d-flex tabs_border">
                <p class="tabs__border pl-2 pr-2 text-white maroon_bg font-weight-bold">P <sup>H</sup></p>
                <p class="pl-4 pr-2">5</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">EC</p>
                <p class="pl-2 pr-2">.05 uS/cm</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">TDS</p>
                <p class="pl-2 pr-2">10 PPM</p>
              </div>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>
        <div class="col-md-12 d-md-flex pt-3">
          <!-- DATA TABLE-->
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12 align-center">
            <p class="pr-3 pl-4">1: 5 Days</p>
            <p class="pl-100 pr-3">Veg</p>
            <p class="pl-80 pr-3">4</p>
            <p class="pl-100 pr-3">2</p>
            <p class="pl-80 pr-5">-</p>
            <p class="pl-50 pr-3">2</p>
          </div>
          <div class="col-md-4 d-flex custom-border col-sm-12">
            <div class="col-md-12 d-flex justify_btw align-center pl-0 pr-0 pt-2 pb-2">
              <div class="d-flex tabs_border">
                <p class="tabs__border pl-2 pr-2 text-white maroon_bg font-weight-bold">P <sup>H</sup></p>
                <p class="pl-4 pr-2">5</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">EC</p>
                <p class="pl-2 pr-2">.05 uS/cm</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">TDS</p>
                <p class="pl-2 pr-2">10 PPM</p>
              </div>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>
        <div class="col-md-12 d-md-flex pt-3 pb-3">
          <!-- DATA TABLE-->
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12 align-center">
            <p class="pr-3 pl-4">1: 5 Days</p>
            <p class="pl-100 pr-3">Veg</p>
            <p class="pl-80 pr-3">4</p>
            <p class="pl-100 pr-3">2</p>
            <p class="pl-80 pr-5">-</p>
            <p class="pl-50 pr-3">2</p>
          </div>
          <div class="col-md-4 d-flex custom-border col-sm-12">
            <div class="col-md-12 d-flex justify_btw align-center pl-0 pr-0 pt-2 pb-2">
              <div class="d-flex tabs_border">
                <p class="tabs__border pl-2 pr-2 text-white maroon_bg font-weight-bold">P <sup>H</sup></p>
                <p class="pl-4 pr-2">5</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">EC</p>
                <p class="pl-2 pr-2">.05 uS/cm</p>
              </div>

              <div class="d-flex tabs_border">
                <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">TDS</p>
                <p class="pl-2 pr-2">10 PPM</p>
              </div>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>
      </div>
    </div>
  </div>
</section>
<section class="statistic">
  <div class="section__content section__content--p30 mb-3">
    <div class="container-fluid">
      <div class="row shadow_border">
        <div class="col-md-6 pb-3 pt-3">
          <p class="font_30 pl-2">Green Crack: Run Times</p>
        </div>
        <div class="col-md-6 d-flex pb-3 pt-3 align-center justify-end">
          <img src="assets/images/icon/icons8-add-property-64 1.png" alt="" class="img-fluid pr-2" />
          <p>Add Routine</p>
        </div>
        <div class="col-md-12">
          <!-- DATA TABLE-->
          <div class="col-md-12 d-md-flex pt-2 pb-2 header_bg">
            <div class="col-md-2">
              <p>Start Time</p>
            </div>
            <div class="col-md-2 pl-0">
              <p>End Time</p>
            </div>
            <div class="col-md-2 pl-0">
              <p>Total Duration</p>
            </div>
            <div class="col-md-2 pl-0">
              <p>Output % (50-105)</p>
            </div>

            <div class="col-md-4 pl-100">
              <p>Select Days</p>
            </div>
          </div>
        </div>

        <div class="col-md-12 d-md-flex pt-3">
          <!-- DATA TABLE-->
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12">
            <div class="col-md-3 pl-4 d-flex align-center">
              <p>07:00 AM</p>
            </div>
            <div class="col-md-3 align-center d-flex">
              <p>11:00 AM</p>
            </div>
            <div class="col-md-3 align-center d-flex pl-4">
              <p>4Hr 0Min</p>
            </div>
            <div class="col-md-3 align-center d-flex pl-5">
              <p>85%</p>
            </div>
          </div>
          <div class="col-md-4 d-flex pr-2 custom-border col-sm-12 pt-2 pb-2">
            <div class="form-check-inline form-check pl-2">
              <label for="inline-checkbox1" class="form-check-label pr-2"
                >Sun
                <input
                  type="checkbox"
                  id="inline-checkbox1"
                  name="inline-checkbox1"
                  value="option1"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox2" class="form-check-label pr-2"
                >M
                <input
                  type="checkbox"
                  id="inline-checkbox2"
                  name="inline-checkbox2"
                  value="option2"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox3" class="form-check-label pr-2"
                >Tu
                <input
                  type="checkbox"
                  id="inline-checkbox3"
                  name="inline-checkbox3"
                  value="option3"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox3" class="form-check-label pr-2"
                >W
                <input
                  type="checkbox"
                  id="inline-checkbox3"
                  name="inline-checkbox3"
                  value="option3"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox3" class="form-check-label pr-2"
                >Th
                <input
                  type="checkbox"
                  id="inline-checkbox3"
                  name="inline-checkbox3"
                  value="option3"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox3" class="form-check-label pr-2"
                >F
                <input
                  type="checkbox"
                  id="inline-checkbox3"
                  name="inline-checkbox3"
                  value="option3"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox3" class="form-check-label pr-2"
                >Sat
                <input
                  type="checkbox"
                  id="inline-checkbox3"
                  name="inline-checkbox3"
                  value="option3"
                  class="form-check-input"
                />
              </label>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>
        <div class="col-md-12 d-md-flex pt-3 pb-3">
          <!-- DATA TABLE-->
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12">
            <div class="col-md-3 pl-4 d-flex align-center">
              <p>07:00 AM</p>
            </div>
            <div class="col-md-3 align-center d-flex">
              <p>11:00 AM</p>
            </div>
            <div class="col-md-3 align-center d-flex pl-4">
              <p>4Hr 0Min</p>
            </div>
            <div class="col-md-3 align-center d-flex pl-5">
              <p>85%</p>
            </div>
          </div>
          <div class="col-md-4 d-flex pr-2 custom-border col-sm-12 pt-2 pb-2">
            <div class="form-check-inline form-check pl-2">
              <label for="inline-checkbox7" class="form-check-label pr-2"
                >Sun
                <input
                  type="checkbox"
                  id="inline-checkbox7"
                  name="inline-checkbox7"
                  value="option7"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox8" class="form-check-label pr-2"
                >M
                <input
                  type="checkbox"
                  id="inline-checkbox8"
                  name="inline-checkbox8"
                  value="option8"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox9" class="form-check-label pr-2"
                >Tu
                <input
                  type="checkbox"
                  id="inline-checkbox9"
                  name="inline-checkbox9"
                  value="option9"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox10" class="form-check-label pr-2"
                >W
                <input
                  type="checkbox"
                  id="inline-checkbox10"
                  name="inline-checkbox10"
                  value="option10"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox11" class="form-check-label pr-2"
                >Th
                <input
                  type="checkbox"
                  id="inline-checkbox11"
                  name="inline-checkbox11"
                  value="option11"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox12" class="form-check-label pr-2"
                >F
                <input
                  type="checkbox"
                  id="inline-checkbox12"
                  name="inline-checkbox12"
                  value="option12"
                  class="form-check-input"
                />
              </label>
              <label for="inline-checkbox13" class="form-check-label pr-2"
                >Sat
                <input
                  type="checkbox"
                  id="inline-checkbox13"
                  name="inline-checkbox13"
                  value="option13"
                  class="form-check-input"
                />
              </label>
            </div>
          </div>
        </div>

        <div class="col-md-12 d-flex pb-4 pt-4 align-center justify-end">
          <img src="assets/images/icon/icons8-calendar-128 1.png" alt="" class="img-fluid pr-2" />
          <p>Calendar View</p>
        </div>
      </div>
    </div>
  </div>
</section>
