<section class="statistic">
  <div class="section__content section__content--p30 mb-3">
    <div class="container-fluid">
      <div *ngFor="let data of irrigationData | async" class="row shadow_border">
        <div class="col-md-6 pb-3 pt-3">
          <p class="font_30 pl-2">Irrigation System</p>
        </div>
        <div class="col-md-6 d-flex justify_btw pb-3 pt-3 align-center">
          <div class="col-md-4">
            <div class="d-flex tabs_border">
              <p class="tabs__border pl-2 pr-2 text-white maroon_bg font-weight-bold">P <sup>H</sup></p>
              <p class="pl-4 pr-2">{{ data.stats.ph }}</p>
            </div>
          </div>
          <div class="col-md-4 pl-0">
            <div class="d-flex tabs_border">
              <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">EC</p>
              <p class="pl-4 pr-2">{{ data.stats.electical_condunctivity }} uS/cm</p>
            </div>
          </div>
          <div class="col-md-4 pr-0 pl-0">
            <div class="d-flex tabs_border">
              <p class="tabs___border darkgray_bg pl-2 pr-2 text-white">TDS</p>
              <p class="pl-5 pr-2">{{ data.stats.tot_dis_solids }} PPM</p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <!-- DATA TABLE-->
          <div class="col-md-12 d-md-flex pt-2 pb-2 header_bg">
            <div class="col-md-2">
              <p>Room</p>
            </div>
            <div class="col-md-2 pl-0">
              <p>Recipe/Cycle/Stage</p>
            </div>
            <div class="col-md-2 pl-0">
              <p>Run Time</p>
            </div>
            <div class="col-md-2 pl-0">
              <p>Shutoff Time</p>
            </div>
            <div class="col-md-2">
              <p>Next Scheduled</p>
            </div>
            <div class="col-md-2 pl-0 pr-0">
              <p>Status (Auto/Manual)</p>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>

        <div *ngFor="let tableData of data.data" class="col-md-12 d-md-flex pt-3 pb-3">
          <!-- DATA TABLE-->
          <div class="col-md-8 d-flex pl-2 custom-border mr-1 col-sm-12">
            <div class="col-md-3 pl-4 d-flex align-center">
              <p>{{ tableData.room }}</p>
            </div>
            <div class="col-md-3 align-center d-flex">
              <p>{{ tableData.rec_cyc_stage }}</p>
            </div>
            <div class="col-md-3 align-center d-flex">
              <p>{{ tableData.run_time }}</p>
            </div>
            <div class="col-md-3 align-center d-flex">
              <p>{{ tableData.shutoff_time }}</p>
            </div>
          </div>
          <div class="col-md-4 d-flex pr-2 custom-border col-sm-12">
            <div class="col-md-6 align-center d-flex">
              <p>{{ tableData.next_sched }}</p>
            </div>
            <div class="col-md-6 align-center d-flex pt-2 pl-5">
              <label class="switch switch-text switch-warning switch-pill">
                <input type="checkbox" class="switch-input" [checked]="tableData.status" />
                <span data-on="On" data-off="Off" class="switch-label"></span>
                <span class="switch-handle"></span>
              </label>
            </div>
          </div>
          <!-- END DATA TABLE-->
        </div>
      </div>
    </div>
  </div>
</section>
